@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');


:root {
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: 'Sriracha', sans-serif;
    --font3: 'Passion One', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body, html {
    min-height: 100vh;
    background-color: gray;
    font-family: var(--font1);
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 7vw;
    font-family: var(--font3);
}

header > p {
    padding-bottom: 50px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;

}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-size: 3vw;
    font-family: var(--font2);
}

section.normal {
    background-color: white;
}

section.img {
    background-color: rgb(65, 65, 65);
    color: white;
    box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.336);
}

section.img > p {
    background-color: rgba(0, 0, 0, 0.471);
    display: inline-block;
    padding: 5px;
    text-shadow: 2px 2px 0px black;
}

section#imagem1 {
    background-image: url(images/background001.jpg);
    background-position: right center;
    background-attachment: fixed;
    background-size: cover;
}

section#imagem2 {
    background-image: url(images/background002.jpg);
    background-attachment: fixed;
    background-size: cover;
}

footer {
    background-color: black;
    text-align: center;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 1.1em;
}